---
title:
---
<div class="homepage-bg"></div>
<header class="homepage-head">
  <h1 class="call-out">{{ homepage.headline }}</h1>
  <h2>{{ homepage.sub-head }}</h2>
  <ul class="homepage-logos clear-fix">
    {{#each homepage.logos }}
      <li><img src="../img/clients/{{ image }}" alt="AstraZeneca"></li>
    {{/each}}
  </ul>
</header>

<div class="homepage-services-container">
  <h2 class="call-out">Our approach</h2> 
  <h3>We use a deep understanding of data and databases, behavioural science and rapid Agile software development 
  to help organisations unlock value from their technology and people by create innovative, engaging and ultimately 
  useful mobile, tablet and web applications to solve their business problems.</h3>
  
  <ul class="homepage-services clear-fix">
    <li>
      <img src="../img/services/prototyping.svg" alt="Rapid prototyping & hacking">
      Rapid prototyping &amp; hacking
    </li>
    <li>
      <img src="../img/services/science.svg" alt="Contextual user research & behavioural science">
      Contextual user research &amp; behavioural science
    </li>
    <li>
      <img src="../img/services/design.svg" alt="User experience & user interface design">
      User experience &amp; user interface design
    </li>
    <li>
      <img src="../img/services/software.svg" alt="Agile software development">
      Agile software development 
    </li>
    <li>
      <img src="../img/services/measure.svg" alt="Measurement of everything">
      Measurement of everything
    </li>
  </ul>
</div>

<div class="homepage-grid-container clear-fix">

    <div class="homepage-grid-inner">

      <div class="grid-inner-block block-cstudy">
        <a href="../work" title="pebble {code} case study">
          <div class="image" style="background-image: url(../img/{{ homepage.cstudy-image }});"></div>
          <h4 class="call-out">Case Study</h4>
          <h3>{{ homepage.cstudy-title }}</h3>
          <p>{{{ homepage.cstudy-text }}}</p>
        </a>
      </div>
      <div class="grid-inner-block block-lab">
        <a href="../blog" title="pebble {code} case lab">
          <div class="image" style="background-image: url(../img/{{ homepage.lab-image }});"></div>
          <h4 class="call-out">From the Lab</h4>
          <h3>{{ homepage.lab-title }}</h3>
          <p>{{{ homepage.lab-text }}}</p>
        </a>
      </div>

    </div>

    <div class="homepage-grid-inner">

      <div class="grid-inner-block block-insight">
        <a href="../blog" title="pebble {code} blog">
          <div class="image" style="background-image: url(../img/{{ homepage.insight-image }});"></div>
          <h4 class="call-out">Insight</h4>
          <h3>{{ homepage.insight-title }}</h3>
          <p>{{{ homepage.insight-text }}}</p>
        </a>
      </div>
      <div class="grid-inner-block block-join">
        <a href="../people" title="pebble {code} case people">
          <h2 class="call-out">Join the <br>Team</h2>
          <p>{{{ homepage.join-text }}}</p>
        </a>
      </div>

    </div>

</div>

<div class="testamonials-container">
  <ul>
    {{#each homepage.testimonials }}
      <li>
        <p class="text call-out">{{{ text }}}</p>
        <span class="client">{{ client }}</span>
        <span class="title">{{ title }}</span>
        <span class="company">{{ company }}</span>
      </li>
    {{/each}}
  </ul>
</div>