---
title:
---
<header class="homepage-head">
  <h1 class="call-out">{{ homepage.headline }}</h1>
  <h2>{{ homepage.sub-head }}</h2>
  <ul class="homepage-logos clear-fix">
    {{#each homepage.logos }}
      <li><img src="../img/clients/{{ image }}" alt="AstraZeneca"></li>
    {{/each}}
  </ul>
</header>

<div class="homepage-services-container">
  <ul class="homepage-services clear-fix">
    {{#each homepage.services }}
    <li>
      <img src="../img/services/{{ image }}" alt="{{ name }}">
      <span>{{ name }}</span>
    </li>
    {{/each}}
  </ul>
</div>

<div class="homepage-grid-container clear-fix">

    <div class="homepage-grid-inner">

      <div class="grid-inner-block block-cstudy">
        <a href="../work" title="pebble {code} case study">
          <div class="image" style="background-image: url(../img/{{ homepage.cstudy-image }});"></div>
          <h4 class="call-out">Case Study</h4>
          <h3>{{ homepage.cstudy-title }}</h3>
          <p>{{{ homepage.cstudy-text }}}</p>
        </a>
      </div>
      <div class="grid-inner-block block-lab">
        <a href="http://blog.pebblecode.com/post/78534448614/pebble-code-astrazeneca-tech-fair" title="pebble {code} case lab">
          <div class="image" style="background-image: url(../img/{{ homepage.lab-image }});"></div>
          <h4 class="call-out">From the Lab</h4>
          <h3>{{ homepage.lab-title }}</h3>
          <p>{{{ homepage.lab-text }}}</p>
        </a>
      </div>

    </div>

    <div class="homepage-grid-inner">

      <div class="grid-inner-block block-insight">
        <a href="http://blog.pebblecode.com/post/78850896871/innovation-technology" title="pebble {code} blog">
          <div class="image" style="background-image: url(../img/{{ homepage.insight-image }});"></div>
          <h4 class="call-out">Insight</h4>
          <h3>{{ homepage.insight-title }}</h3>
          <p>{{{ homepage.insight-text }}}</p>
        </a>
      </div>
      <div class="grid-inner-block block-join">
        <a href="../about" title="pebble {code} case people">
          <h2 class="call-out">Join the <br>Team</h2>
          <p>{{{ homepage.join-text }}}</p>
        </a>
      </div>

    </div>

</div>

<div class="testamonials-container">
  <p class="text call-out">{{{ homepage.testimonial-text }}}</p>
  <span class="client">{{  homepage.testimonial-client }}</span>
  <span class="title">{{  homepage.testimonial-title }}</span>
  <span class="company">{{  homepage.testimonial-company }}</span>
</div>