- content_for :title do
  Our playground - projects from 10% time, hack-days, and all our other code-adventures | pebble code
- content_for :description do
  See our Twitter automation and easy team management apps. Straightforward, effective, easy-to-use software from pebble code.
- content_for :keywords do
  Trickr, Vistazo, team, time, track, manage, Twitter, automation, open source, software, apps, simplify, tools, workload, web apo, efficient, easy

-# title = the title of the project
-# description = (short) description of the project
-# date = month and year project was released (E.g. Febuary 2012)
-# pebblers = who created the project
-# github = url of the project on github
-# livelink = link to a live demo of project (if it exsits)
-# bloglink = url of blog post relating to project (if applicatble)
-# blogtext = text for blog link (if applicatble)
-# image = an image for the project (if applicatble)

:ruby
  projects = [
    {
      :title => "Tricklr", 
      :description => "Stay active on Twitter without having to monitor it constantly. Put your tweets in a queue and Tricklr will send them for you at regular intervals.",
      :date => "Dec 2011",
      :pebblers => "George, Tak, Mark",
      :livelink => "http://tricklrapp.com/",
      :bloglink => "http://blog.pebblecode.com/post/15777853652/tricklr-1-0",
      :blogtext => "Tricklr 1.0",
      :image => "/images/projects/tricklr.png"
    },
    {
      :title => "Noisy URIs",
      :description => "Ready-made noise images as data URIs. Available in Sass, LESS, and vanilla CSS flavours.",
      :date => "Febuary 2013",
      :pebblers => "Mark",
      :github => "https://github.com/markdurrant/noisy-uris",
      :livelink => "http://markdurrant.github.com/noisy-uris/",
      :bloglink => "http://blog.pebblecode.com/post/43139609779/noisy-uris",
      :blogtext => "Noisy URIs blog post",
      :image => "/images/projects/noise.png"
    },
    {
      :title => "Vistazo",
      :description => "Track what everyone in your team is working on and when. Visualise people's workloads at a glance, without getting sucked into micromanagement.",
      :date => "April 2012",
      :pebblers => "Tak, Mark",
      :livelink => "http://vistazoapp.com/",
      :bloglink => "http://blog.pebblecode.com/post/21434355185/vistazo-the-making-of-our-new-baby",
      :blogtext => "The making of our new baby",
      :image => "/images/projects/vistazo.png"
    },
    {
      :title => "WTF",
      :description => "WTF is a simple image guessing game. It supports guessing cities and movies. It uses the flickr api for getting images.",
      :date => "October 2012",
      :pebblers => "Tak, Matt",
      :livelink => "http://pebblecode.github.com/wtf/",
      :github => "https://github.com/pebblecode/wtf/",
      :bloglink => "http://blog.pebblecode.com/post/33705863399/games-hack-day",
      :blogtext => "part of the pebble games hackday",
      :image => "/images/projects/wtf.png"
    },
    {
      :title => "Keyboard Demon",
      :description => "Keyboard Demon is a simple keyboard based game about mashing keys as quickly as possible. Based on <a href='http://hackertyper.net/'>hacker typer</a>.",
      :date => "October 2012",
      :pebblers => "Mark, Vince",
      :bloglink => "http://blog.pebblecode.com/post/33705863399/games-hack-day",
      :blogtext => "part of the pebble games hackday",
      :image => "/images/projects/keyboard-demon.png"
    },
    {
      :title => "Battleships",
      :description => "Hack-ships is an extended idea of Battleships, instead of a square board on a plane surface we've chosen to play the game on a Google map.",
      :date => "October 2012",
      :pebblers => "Joseph, Akash, Sava, Toby",
      :bloglink => "http://blog.pebblecode.com/post/33705863399/games-hack-day",
      :blogtext => "part of the pebble games hackday",
      :image => "/images/projects/battleships.png"
    },
    {
      :title => "Hangover hunt",
      :description => "The player is asked a series of questions. They have to go to the location (a pub!) and answer the question with either location specific information or using location data from their browser or phone.",
      :date => "October 2012",
      :pebblers => "Daniel, Tom, Plamen",
      :github => "https://github.com/pebblecode/hangover-hunt",
      :bloglink => "http://blog.pebblecode.com/post/33705863399/games-hack-day",
      :blogtext => "part of the pebble games hackday",
      :image => "/images/projects/hanging.png"
    },
    {
      :title => "Campfire quiz",
      :date => "October 2012",
      :description => "A quiz gameplay engine for <a href='http://campfirenow.com/'>campfire</a>.",
      :pebblers => "Alex, James",
      :bloglink => "http://blog.pebblecode.com/post/33705863399/games-hack-day",
      :blogtext => "part of the pebble games hackday",
      :image => "/images/projects/quiz.png"
    },
    {
      :title => "Pebble custom reset",
      :date => "August 2012",
      :description => "Pebble custom reset uses Sass to compile a custom reset based on Eric Meyer's <a href='http://meyerweb.com/eric/tools/css/reset/'>CSS reset</a> with a few additions.",
      :pebblers => "Mark",
      :livelink => "http://pebblecode.github.com/PCR/",
      :github => "https://github.com/pebblecode/PCR",
      :bloglink => "http://blog.pebblecode.com/post/29614270562/the-great-css-experiment",
      :blogtext => "pebble custom reset blog post",
      :image => "/images/projects/pcr.png"
    },
    {
      :title => "Olympic data vis",
      :description => "July 2012",
      :date => "Data visualisation of all past olympic medals won",
      :pebblers => "Alex, Tak",
      :livelink => "http://pebblecode.com/olympic-data-vis",
      :bloglink => "http://blog.pebblecode.com/post/27976232997/olympics-hackery",
      :blogtext => "Olympics hackery",
      :image => "/images/projects/data-vis.png"
    },
    {
      :title => "Fear the IOC",
      :description => "Fear the IOC (International Olympic Committee) is a bookmarklet that censors any text or images that the IOC may find litigious.",
      :date => "April 2012",
      :pebblers => "Mark",
      :github => "https://github.com/pebblecode/fear-the-IOC/",
      :livelink => "http://pebblecode.github.com/fear-the-IOC/",
      :bloglink => "http://blog.pebblecode.com/post/21838814065/hack-day-live",
      :blogtext => "part of the pebble olympics hackday",
      :image => "/images/projects/fear.png"
    }
  ]
  
.row
  .labs-header
    %p labs header
%hr.background-random
%section.row
  %article.labs-spotlight
    %h2 In the spotlight
    %ul
      - projects.each_with_index do |p, index|
        %li.project
          - if p[:image]
            .frame
              %img.background-random{:src => p[:image]}
          %h3.project-title.size2= p[:title]
          %p.pebblers= p[:pebblers]
          %p.date= p[:date]
          %p.project-description= p[:description]
          %p.project-links
            - if p[:github]
              %a.pink{:href => p[:github], :target => "_blank"} view on Github
            - if p[:livelink]
              %a.blue{:href => p[:livelink], :target => "_blank"} see the project here
            - if p[:bloglink]
              %a.green{:href => p[:bloglink], :target => "_blank"}= p[:blogtext]
%hr.background-random
.labs-filtering
  %p Filter by...
  %button.filter 10% time
  %button.filter Olympics hack day
  %button.filter Games hack day
  %button.filter Education hack day
%hr.background-random
%section.projects-list
  %ul
    - projects.shuffle!
    - random_index = rand(projects.length)
    - projects.each_with_index do |p, index|
      %li.project
        - if p[:image]
          .frame
            %img.background-random{:src => p[:image]}
        %h3.project-title.size2= p[:title]
        %p.project-description= p[:description]