:ruby
  # Content of the page
  people = [
    {
      :name => "Toby Hunt",
      :title => "CEO",
      :image => "/images/mug-shots/toby.png",
      :description => "Toby studied computer science at uni, did a spell in corporate land, then co-founded pebble.it in 2006 and pebble {code} in 2010. Loves travel, funk music and a healthy lifestyle (most of the time!).",
      :website => "http://thatsinthebook.com",
      :twitter => "http://twitter.com/tobyhunt"
    },
    {
      :name => "George Ornbo",
      :title => "Creative Director",
      :image => "/images/mug-shots/george.png",
      :description => "George is a Ruby and JavaScript developer with a strong interest in browsers and web applications. When not hacking at a terminal he enjoys making things in the kitchen and a bit of cricket. Currently authoring Sams Teach Yourself Node.js in 24 Hours.",
      :website => "http://shapeshed.com",
      :github => "https://github.com/shapeshed",
      :twitter => "http://twitter.com/shapeshed"
    },
    {
      :name => "Alex Butcher",
      :title => "Technical Director",
      :image => "/images/mug-shots/alex.png",
      :description => "A first class computer science graduate, Alex has worked in a range of software engineering and architecture roles before co-founding pebble {code} in 2010. A long time functional programming and C# advocate with a dangerous obsession for all things cycling.",
      :twitter => "http://twitter.com/alexbutcher"
    },
    {
      :name => "Mark Durrant",
      :title => "UI/UX Designer",
      :image => "/images/mug-shots/mark.png",
      :description => "After working for a couple of different charities for a few years, Mark managed to get himself a degree in graphic design. Mark has always been interested in tech & the web so has found pebble the perfect place. Little bit of a geek who's time off is enjoyed with comics, video games, anime, & beer.",
      :website => "http://markdurrant.co.uk",
      :github => "https://github.com/markdurrant"

    },
    {
      :name => "Greg Jackman",
      :title => "Senior Developer",
      :image => "/images/mug-shots/greg.png",
      :description => "Quisque facilisis erat a dui. Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio. Proin tincidunt, velit vel porta elementum, magna diam molestie sapien, non aliquet massa pede eu diam. Aliquam iaculis. Fusce et ipsum et nulla tristique facilisis. Donec eget sem sit amet ligula viverra gravida. Etiam vehicula urna vel turpis. Suspendisse sagittis ante a urna. Morbi a est quis orci consequat rutrum. Nullam egestas feugiat felis. Integer adipiscing semper ligula. Nunc molestie, nisl sit amet cursus convallis, sapien lectus pretium metus, vitae pretium enim wisi id lectus. Donec vestibulum. Etiam vel nibh. Nulla facilisi. Mauris pharetra. Donec augue. Fusce ultrices, neque id dignissim ultrices, tellus mauris dictum elit, vel lacinia enim metus eu nunc."
    },
    {
      :name => "Matt Ward",
      :title => "Senior Developer",
      :image => "/images/mug-shots/matt.png",
      :description => "Matt's first real dive into programming was with a language called COMAL, a programming language unheard of outside Scandinavia, where he created a program to predict the results of Football matches. Sadly this did not make him a millionaire. In his spare time he works on SharpDevelop, an open source integrated development environment written in C#.",
      :website => "http://community.sharpdevelop.net/blogs/mattward/",
      :github => "https://github.com/icsharpcode/SharpDevelop",
      :twitter => "http://twitter/SharpDevelop"
    },
    {
      :name => "Vincent Mart&iacute;nez",
      :title => "Developer",
      :image => "/images/mug-shots/vince.png",
      :description => "After studying software engineering in Valencia and a brief experience in the ugly world of platform dependent C code and libraries, Vincent made the move to the web (mainly Ruby & Javascript). Vincent admires simplicity and minimalism in design. When not coding, he enjoys photography, sunny days when they come and, of course, Bar&ccedil;a.",
      :twitter => "http://github.com/eyko",
      :github => "http://twitter.com/eyko"
    },
    {
      :name => "Tu Tak Tran",
      :title => "Developer",
      :image => "/images/mug-shots/tak.png",
      :description => "UK born but Sydney raised web developer, predominately embedded in the world of Ruby and other (often hipster) related technologies. Tak finds great joy in discussing software craftsmanship, food, and universal ideas.",
      :twitter => "http://twitter.com/zlog",
      :github => "https://github.com/taktran"
    },
    {
      :name => "Joseph Jeganathan",
      :title => "Developer",
      :image => "/images/mug-shots/joseph.png",
      :description => "Joseph is a .NET techie who mastered in Enterprise Software Engineering, London. He loves to take on any challenge and focus on leading edge technologies and the best algorithms to deliver the best solutions. Apart from his life as a programmer, he is a good cricketer and an athlete.",
      :website => "http://josephjeganathan.com",
      :github => "https://github.com/josephjeganathan",
      :twitter => "https://github.com/josephjeganathan"
    }
  ]
  people.shuffle!

.row.people-img
  .columns6.frame
    .img.background-random
%section.row.people-copy
  .columns3
    %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
  .columns3
    %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
%section#spotlight
  .row
    .columns6
      %h1.size2
        in the spotlight
  %hr.background-random/
  - random_index = rand(people.length)
  - people.each_with_index do |p, index|
    %section{:class => "row person-row #{"active" if random_index == index}"}
      .columns2.frame
        .img
          / Height is same as .img height
          %img{:src => p[:image], :height => 264}/
      %article.columns4
        %h2.size3= p[:name]
        %h3.size2= p[:title]
        %p= p[:description]
        - if p[:website]
          %p.link
            website:
            %a{:href => p[:website], :target => "_blank"}= p[:website]
        - if p[:twitter]
          %p.link
            twitter:
            %a{:href => p[:twitter], :target => "_blank"}= p[:twitter]
        - if p[:github]
          %p.link
            github:
            %a{:href => p[:github], :target => "_blank"}= p[:github]
.employees
  .row
    .columns6
      %h1.size2
        employees
  %hr.background-random/
  %ul.row
    - people.each do |p|
      %li.columns1
        %a{:href => "#spotlight", :class => "frame person"}
          .img
            / Height is same as .img height
            %img{:src => p[:image], :height => 110}/
          %h4= p[:name]
          %p.size0= p[:title]
.pebble-it
  .row
    .columns6
      %h1.size4 pebble.it 
  .row
    .columns6
      %p The pebble{code} philosophy and approach (as well as our office) is shared by our sister company <a href="http://pebbleit.com/" target="_blank">pebble.it</a> Who provide IT infrastructure, solutions and support for business in the London area.