-# coding: utf-8
- content_for :script_js do
  %script{ :type => "text/javascript" }
    :plain
      require(["main"], function() {
        require(["app/people"]);
      });
- content_for :title do
  Our People - a small development team doing big things | pebble {code}
- content_for :description do
  Our expert software development team is multi-skilled, creative and ready for any challenge. .NET, C#, F#, Node.js, Ruby on Rails, JavaScript and more.
- content_for :keywords do
  people, team, skills, skilled, creative, .NET, C#, F#, Node.js, Ruby on Rails, JavaScript, project, development, expertise, personalities, ideas

.row.headline
  %h1.size3 Our People
%section.row.people-copy
  .columns3
    %p
      Put a small, multi-disciplinary team into a stimulating environment. Give them the best tools, encourage them to work together creatively and big things happen.
  .columns3
    %p
      That's how we do things. Everyone here has their own expertise, and that combination of skills, personalities and ideas lies at the heart of everything we create.

#spotlight-scroll.employees
  .row
    .columns6
  %hr.background-random
  %ul.row
    %li#spotlight.columns2
      - selected_person_index = Person.slug_index(@person_slug)
      -# Show selected person index or show a random one
      - person_index = selected_person_index ? selected_person_index : Person.random_person_index
      - @people.each_with_index do |p, index|
        %section{:id => p[:name].to_slug, :"data-tumblr" => p[:tumblr_name], :class => "person-row #{"active" if person_index == index}"}
          .frame
            .img
              / Height is same as .img height
              %img{:alt => p[:name], :src => p[:image]}/
          %article
            %h2.size2 In the spotlight:
            %h2.size2.name= p[:name]
            %h3.size1= p[:title]
            %div= RDiscount.new(p[:description]).to_html
            - if p[:website]
              %a{:href => p[:website], :target => "_blank", :class => "person-link frame website"} Website
            - if p[:twitter]
              %a{:href => p[:twitter], :target => "_blank", :class => "person-link frame twitter"} Twitter
            - if p[:github]
              %a{:href => p[:github], :target => "_blank", :class => "person-link frame github"} Github
            - if p[:linkedin]
              %a{:href => p[:linkedin], :target => "_blank", :class => "person-link frame linkedin"} linkedin
    %li.columns4
      %ul.row.people-list
        - @people.each do |p|
          %li
            %a{:href => "/people/#{p[:name].to_slug}", :class => "columns1 frame person"}
              .img
                / Height is same as .img height
                %img{:alt => p[:title], :src => p[:image], :height => 110}/
              %h4= p[:name]
              %p.size0= p[:title]
        %li
          %a{:href => "jobs", :class => "columns1 frame join-us"}
            .img.blue-background
              / Height is same as .img height
              %img{:alt => "Join the team", :src => "/images/plus.png", :height => 110}
            %h4 join the team
            %p.size0 we're hiring!
