- content_for :title do
  Our people - a small development team doing big things | pebble code
- content_for :description do
  Our expert software development team is multi-skilled, creative and ready for any challenge. .NET, C#, F#, Node.js, Ruby on Rails, JavaScript and more.
- content_for :keywords do
  people, team, skills, skilled, creative, .NET, C#, F#, Node.js, Ruby on Rails, JavaScript, project, development, expertise, personalities, ideas 

:ruby
  # Content of the page
  # NOTE: Descriptions are in markdown (http://daringfireball.net/projects/markdown/)
  people = [
    {
      :name => "Toby Hunt",
      :title => "CEO",
      :image => "/images/mug-shots/toby.png",
      :description => "Toby studied computer science at university, did a spell in the corporate world, then co-founded [pebble.it](http://pebbleit.com/) in 2006 and [pebble {code}](http://pebblecode.com/) in 2010. He loves travel, funk music and a healthy lifestyle (at least most of the time).",
      :website => "http://thatsinthebook.com",
      :twitter => "http://twitter.com/tobyhunt",
      :tumblr_name => "thatsinthebook"

    },
    {
      :name => "George Ornbo",
      :title => "Creative Director",
      :image => "/images/mug-shots/george.png",
      :description => "George is a Ruby and JavaScript developer with a strong interest in web browsers and applications. When not hacking at a terminal he enjoys making things in the kitchen and a bit of cricket. George is currently writing [Sams teach yourself Node.js in 24 hours](http://nodejsbook.io/).",
      :website => "http://shapeshed.com",
      :github => "https://github.com/shapeshed",
      :twitter => "http://twitter.com/shapeshed",
      :tumblr_name => "shapeshed"
    },
    {
      :name => "Alex Butcher",
      :title => "Technical Director",
      :image => "/images/mug-shots/alex.png",
      :description => "A first class computer science graduate, Alex worked in a range of software engineering and architecture roles before co-founding pebble {code} in 2010. A long time advocate of functional programming and C#, he also has a dangerous obsession with all things cycling.",
      :twitter => "http://twitter.com/alexbutcher",
      :tumblr_name => "abutcher"
    },
    {
      :name => "Mark Durrant",
      :title => "UI/UX Designer",
      :image => "/images/mug-shots/mark.png",
      :description => "After spending several years working for charities, Mark managed to get himself a degree in graphic design. He's has always been interested in technology and the web and has found pebble {code} the perfect place to pursue these interests. Mark is a bit of a geek and spends his time off with comics, video games, anime and beer.",
      :website => "http://markdurrant.co.uk",
      :github => "https://github.com/markdurrant",
      :tumblr_name => "markdurrant"
    },
    {
      :name => "Matt Ward",
      :title => "Senior Developer",
      :image => "/images/mug-shots/matt.png",
      :description => "Matt's first real dive into programming was with COMAL, a language unheard of outside Scandinavia. He used it to create a program to predict the results of football matches, but sadly this did not make him a millionaire. In his spare time he works on [SharpDevelop](http://www.icsharpcode.net/OpenSource/SD/), an open source integrated development environment written in C#.",
      :website => "http://community.sharpdevelop.net/blogs/mattward/",
      :github => "https://github.com/icsharpcode/SharpDevelop",
      :twitter => "http://twitter/SharpDevelop",
      :tumblr_name => "mattward"
    },
    {
      :name => "Vincent Mart&iacute;nez",
      :title => "Developer",
      :image => "/images/mug-shots/vince.png",
      :description => "After studying software engineering in Valencia and a brief experience in the ugly world of platform dependent C code and libraries, Vincent moved to the web, mainly working in Ruby and JavaScript. Vincent admires simplicity and minimalism in design. When not coding, he enjoys photography, sunny days when they come and, of course, Bar&ccedil;a.",
      :twitter => "http://twitter.com/eyko",
      :github => "http://github.com/eyko",
      :tumblr_name => "eyko"
    },
    {
      :name => "Tak Tran",
      :title => "Developer",
      :image => "/images/mug-shots/tak.png",
      :description => "A UK-born, Sydney-raised web developer who's predominantly embedded in the world of Ruby and other (often hipster) related technologies. Tak finds great joy in discussing software craftsmanship, food and universal ideas.",
      :twitter => "http://twitter.com/zlog",
      :github => "https://github.com/taktran",
      :tumblr_name => "tutaktran"
    },
    {
      :name => "Joseph Jeganathan",
      :title => "Developer",
      :image => "/images/mug-shots/joseph.png",
      :description => "Joseph is a .NET techie with a masters in enterprise software engineering. He loves to take on any challenge, focusing on leading edge technologies and algorithms that deliver the very best solutions. Aside from his life as a programmer, he is an athlete and good cricketer.",
      :website => "http://josephjeganathan.com",
      :github => "https://github.com/josephjeganathan",
      :twitter => "http://twitter.com/josephjegan",
      :tumblr_name => "josephjeganathan"
    },
    {
      :name => "Daniel Bradley",
      :title => "Developer",
      :image => "/images/mug-shots/dan.png",
      :description => "After graduating as a software engineer in London, Daniel got stuck into developing products for the media sector. He's an open source advocate and author of the cloud-based [Plywood](https://github.com/danielrbradley/Plywood) software deployment system. Outside of programming, he's a drummer and keen photographer.",
      :website => "http://danielbradley.net",
      :twitter => "http://twitter.com/danielrbradley",
      :github => "https://github.com/danielrbradley",
      :tumblr_name => "danielrbradley"
    },
    {
      :name => "Akash Chopra",
      :title => "Developer",
      :image => "/images/mug-shots/akash.png",
      :description => "It took a PhD in Computational Physics for Akash to figure out that he enjoyed the \"computational\" part more than the physics. That revelation eventually lead, via an extended spell developing stochastic financial risk modelling software, to pebble {code}. Outside work he loves food, cycling and squash.",
      :website => "http://www.itworksonmymachine.co.uk",
      :twitter => "http://twitter.com/akashchopra"
    },
    {
      :name => "Gayle Smith",
      :title => "Admin Assistant",
      :image => "/images/mug-shots/gayle.png",
      :description => "Gayle studied classics at University College London and worked in HR for three years. She now keeps both [pebble {code}](http://pebblecode.com/) and [pebble.it](http://pebbleit.com/) in order! When not at work she tutors Latin and Ancient Greek and also enjoys pub quizzes, live music and zombie films."
    }
  ]
  people.shuffle!

.row.headline
  %h1.size3 Our people
%section.row.people-copy
  .columns3
    %p 
      Put a small, multi-disciplinary team into a stimulating environment. Give them the best tools, encourage them to work together creatively and big things happen.
  .columns3
    %p 
      That's how we do things. Everyone here has their own expertise, and that combination of skills, personalities and ideas lies at the heart of everything we create.
%section#spotlight
  .row
    .columns6
      %h1.size2
        In the spotlight
  %hr.background-random/
  - random_index = rand(people.length)
  - people.each_with_index do |p, index|
    %section{:id => "#{("tumblr-" + p[:tumblr_name]) if p[:tumblr_name]}", :class => "row person-row #{"active" if random_index == index}"}
      / Shown on small screens
      .columns2.frame.top
        .img
          / Height is same as .img height
          %img{:src => p[:image], :height => 264}/
      %article.columns4
        .inner-wrapper
          %h2.size3.name= p[:name]
          %h3.size2= p[:title]
          %p= RDiscount.new(p[:description]).to_html
          - if p[:website]
            %p.link
              website:
              %a{:href => p[:website], :target => "_blank"}= p[:website]
          - if p[:twitter]
            %p.link
              twitter:
              %a{:href => p[:twitter], :target => "_blank"}= p[:twitter]
          - if p[:github]
            %p.link
              github:
              %a{:href => p[:github], :target => "_blank"}= p[:github]
      / Shown on large screens
      .columns2.frame.bottom
        .img
          / Height is same as .img height
          %img{:src => p[:image], :height => 264}/
.employees
  .row
    .columns6
      %h1.size2
        Our team
  %hr.background-random/
  %ul.row
    - people.each do |p|
      %li
        %a{:href => "#spotlight", :class => "columns1 frame person"}
          .img
            / Height is same as .img height
            %img{:src => p[:image], :height => 110}/
          %h4= p[:name]
          %p.size0= p[:title]
%hr.background-random/
.pebble-it
  .columns6
    %p The pebble {code} philosophy and approach (as well as our offices) are shared by our sister company <a href="http://pebbleit.com/" target="_blank">pebble.it</a> who provide IT consultancy, infrastructure solutions and support for creative business in London.
    %p Need some support? Get in touch with Paul on <a href="tel:+442033271081">+44 (0) 20 3327 1081</a> or <a href="mailto:info@pebbleit.com">info@pebbleit.com</a>.
