- content_for :title do
  Our people - a small development team doing big things | pebble code
- content_for :description do
  Our expert software development team is multi-skilled, creative and ready for any challenge. .NET, C#, F#, Node.js, Ruby on Rails, JavaScript and more.
- content_for :keywords do
  people, team, skills, skilled, creative, .NET, C#, F#, Node.js, Ruby on Rails, JavaScript, project, development, expertise, personalities, ideas 

:ruby
  # Content of the page
  # NOTE: Descriptions are in markdown (http://daringfireball.net/projects/markdown/)
  people = [
    {
      :name => "Toby Hunt",
      :title => "CEO",
      :image => "/images/mug-shots/toby-2.png",
      :description => "Toby studied computer science at university, did a spell in the corporate world, then co-founded [pebble.it](http://pebbleit.com/) in 2006 and [pebble {code}](http://pebblecode.com/) in 2010. He loves travel, funk music and a healthy lifestyle (at least most of the time).",
      :website => "http://thatsinthebook.com",
      :twitter => "http://twitter.com/tobyhunt",
      :tumblr_name => "thatsinthebook"

    },
    {
      :name => "George Ornbo",
      :title => "Creative Director",
      :image => "/images/mug-shots/george.png",
      :description => "George is a Ruby and JavaScript developer with a strong interest in web browsers and applications. When not hacking at a terminal he enjoys making things in the kitchen and a bit of cricket. George is currently writing [Sams teach yourself Node.js in 24 hours](http://nodejsbook.io/).",
      :website => "http://shapeshed.com",
      :github => "https://github.com/shapeshed",
      :twitter => "http://twitter.com/shapeshed",
      :tumblr_name => "shapeshed"
    },
    {
      :name => "Alex Butcher",
      :title => "Technical Director",
      :image => "/images/mug-shots/alex.png",
      :description => "After graduating from Durham in computer science, Alex worked in a range of software engineering and architecture roles, covering manufacturing integration, financial services and online gaming before co-founding pebble {code} in 2010. A long time advocate of functional programming and C#, he also has a dangerous obsession with all things cycling.",
      :twitter => "http://twitter.com/alexbutcher",
      :tumblr_name => "abutcher"
    },
    {
      :name => "Mark Durrant",
      :title => "UI/UX Designer",
      :image => "/images/mug-shots/mark.png",
      :description => "After spending several years working for charities, Mark managed to get himself a degree in graphic design. He's has always been interested in technology and the web and has found pebble {code} the perfect place to pursue these interests. Mark is a bit of a geek and spends his time off with comics, video games, anime and beer.",
      :website => "http://markdurrant.co.uk",
      :github => "https://github.com/markdurrant",
      :tumblr_name => "markdurrant"
    },
    {
      :name => "Matt Ward",
      :title => "Senior software Developer",
      :image => "/images/mug-shots/matt.png",
      :description => "Matt's first real dive into programming was with COMAL, a language unheard of outside Scandinavia. He used it to create a program to predict the results of football matches, but sadly this did not make him a millionaire. In his spare time he works on [SharpDevelop](http://www.icsharpcode.net/OpenSource/SD/), an open source integrated development environment written in C#.",
      :website => "http://community.sharpdevelop.net/blogs/mattward/",
      :github => "https://github.com/icsharpcode/SharpDevelop",
      :twitter => "http://twitter/SharpDevelop",
      :tumblr_name => "mattward"
    },
    {
      :name => "Vincent Mart&iacute;nez",
      :title => "Software developer",
      :image => "/images/mug-shots/vince.png",
      :description => "After studying software engineering in Valencia and a brief experience in the ugly world of platform dependent C code and libraries, Vincent moved to the web, mainly working in Ruby and JavaScript. Vincent admires simplicity and minimalism in design. When not coding, he enjoys photography, sunny days when they come and, of course, Bar&ccedil;a.",
      :twitter => "http://twitter.com/eyko",
      :github => "http://github.com/eyko",
      :tumblr_name => "eyko"
    },
    {
      :name => "Tak Tran",
      :title => "Software developer",
      :image => "/images/mug-shots/tak.png",
      :description => "A UK-born, Sydney-raised web developer who's predominantly embedded in the world of Ruby and other (often hipster) related technologies. Tak finds great joy in discussing software craftsmanship, food and universal ideas.",
      :twitter => "http://twitter.com/zlog",
      :github => "https://github.com/taktran",
      :tumblr_name => "tutaktran"
    },
    {
      :name => "Joseph Jeganathan",
      :title => "Software developer",
      :image => "/images/mug-shots/joseph.png",
      :description => "Joseph is a .NET techie with a masters in enterprise software engineering. He loves to take on any challenge, focusing on leading edge technologies and algorithms that deliver the very best solutions. Aside from his life as a programmer, he is an athlete and good cricketer.",
      :website => "http://josephjeganathan.com",
      :github => "https://github.com/josephjeganathan",
      :twitter => "http://twitter.com/josephjegan",
      :tumblr_name => "josephjeganathan"
    },
    {
      :name => "Daniel Bradley",
      :title => "Software developer",
      :image => "/images/mug-shots/dan.png",
      :description => "After graduating as a software engineer in London, Daniel got stuck into developing products for the media sector. He's an open source advocate and author of the cloud-based [Plywood](https://github.com/danielrbradley/Plywood) software deployment system. Outside of programming, he's a drummer and keen photographer.",
      :website => "http://danielbradley.net",
      :twitter => "http://twitter.com/danielrbradley",
      :github => "https://github.com/danielrbradley",
      :tumblr_name => "danielrbradley"
    },
    {
      :name => "Akash Chopra",
      :title => "Technical Architect",
      :image => "/images/mug-shots/akash.png",
      :description => "It took a PhD in Computational Physics for Akash to figure out that he enjoyed the \"computational\" part more than the physics. That revelation eventually lead, via an extended spell developing stochastic financial risk modelling software, to pebble {code}. Outside work he loves food, cycling and squash.",
      :website => "http://www.itworksonmymachine.co.uk",
      :twitter => "http://twitter.com/akashchopra"
    },
    {
      :name => "Andrea Miskulin",
      :title => "Office Assistant",
      :image => "/images/mug-shots/andrea.png",
      :description => "Prior to this role she successfully facilitated a Director and Team in the media and creative industry.  She is now responsible for keeping and running the teams critical business and admin processes efficiently, effectively, with a smile and plenty of enthusiasm to enable the team to carry out the core business. In her spare time, she enjoys creating gourmet dinners, smoothies, as well as keep fit classes, music and movies."
    },
    {
      :name => "Gayle Smith",
      :title => "HR Consultant",
      :image => "/images/mug-shots/gayle.png",
      :description => "Long time pebbler Gayle is currently studying to become a latin teacher, but will still lend us her HR superpowers from time to time - she is still very much a part of the big happy family we call pebble."
    },
    {
      :name => "Tom Squires",
      :title => "Software developer",
      :image => "/images/mug-shots/tom.png",
      :description => "Tom is a .Net developer, initially starting out in building CMS websites but quickly moving into back end systems and APIs. In his spare time he enjoys computer gaming and brewing his own real ale. He also loves music and often frequents festivals and gigs"
    },
    {
      :name => "James Wallace",
      :title => "Software developer",
      :image => "/images/mug-shots/james.png",
      :description => "James graduated from Heriot-Watt with a 1st in Computer Science and was immediately employed by a relatively small company in Edinburgh developing financial risk modelling software. Two years later James found himself leading a small team of developers within a corporation of 4000+ and realised that he hadn't written code in months. James yearned to return to the truly rockstar life of the software developer, then he found Pebble."
    },
    {
      :name => "Sava Varadzhakov",
      :title => "Software developer",
      :image => "/images/mug-shots/sava.png",
      :description => "Once Sava discovered the geek world of software engineering, he was fool enough to abandon his childish movie superstar dream. Currently he is in love with new technologies and software development concepts, but he is often cheating on them with sports, whiskey and travelling.",
      :github => "https://github.com/varadzhakov"
    },
    {
      :name => "Plamen Penchev",
      :title => "Software developer",
      :image => "/images/mug-shots/plamen.png",
      :description => "Located in Sofia, Bulgaria, Plamen has been developing .Net applications for 5 years. At the same time fighting against all his open-source and Linux using friends - but the power is on his side. His passion is the web, because of all the new powerful technology coming out every single day. Some of his mottos are : 'Never stop learning' and 'Don't worry be happy'. He likes listening to all kinds of music and tries to play some of it on his guitar. In his spare time you can see him playing table tennis, dancing tango with his girlfriend, riding a bike and having fun with his friends (not those with Linux installed on their machines :p).",
      :twitter => "https://twitter.com/Spako7",
      :gitHub => "https://github.com/ppenchev"
    },
    {
      :name => "Nathan Evans",
      :title => "Software developer",
      :image => "/images/mug-shots/nathan.png",
      :description => "Nathan is an extremely passionate software developer with frequent bursts of creativity. He spent his early teenage years (which fortuitously coincided with the birth of the Web) building an online business that successfully sold his software creations as &quot;shareware&quot;. Later, Nathan graduated with a 1st in Computer Science and then went on to invest an extremely productive six years in a small successful start-up company based in Cambridge as its technical co-founder where he cut his teeth as an enterprise .NET developer. These days, when not Pebble'ing, he is usually found either keeping fit running around Greenwich Park or experimenting with advanced software engineering concepts such as CQRS and Event Sourcing."
    },
    {
      :name => "Andy Wardle",
      :title => "Software developer",
      :image => "/images/mug-shots/andy.png",
      :description => "Andy is a .NET developer with experience dating back to the dark days of .NET 1.1, thankfully only for a very short while. His experience spans the full stack going from MVC, Service Bus, WCF to SQL Server. Outside of work he has a bit of an obsession with football and leads a relatively active lifestyle trying to fit in rock climbing, golf and other sports around going to the pub."
    }
  ]
  people.shuffle!

.row.headline
  %h1.size3 Our people
%section.row.people-copy
  .columns3
    %p 
      Put a small, multi-disciplinary team into a stimulating environment. Give them the best tools, encourage them to work together creatively and big things happen.
  .columns3
    %p 
      That's how we do things. Everyone here has their own expertise, and that combination of skills, personalities and ideas lies at the heart of everything we create.
%section#spotlight
  .row
    .columns6
      %h1.size2
        In the spotlight
  %hr.background-random/
  - random_index = rand(people.length)
  - people.each_with_index do |p, index|
    %section{:id => "#{("tumblr-" + p[:tumblr_name]) if p[:tumblr_name]}", :class => "row person-row #{"active" if random_index == index}"}
      / Shown on small screens
      .columns2.frame.top
        .img
          / Height is same as .img height
          %img{:src => p[:image], :height => 264}/
      %article.columns4
        .inner-wrapper
          %h2.size3.name= p[:name]
          %h3.size2= p[:title]
          %p= RDiscount.new(p[:description]).to_html
          - if p[:website]
            %p.link
              website:
              %a{:href => p[:website], :target => "_blank"}= p[:website]
          - if p[:twitter]
            %p.link
              twitter:
              %a{:href => p[:twitter], :target => "_blank"}= p[:twitter]
          - if p[:github]
            %p.link
              github:
              %a{:href => p[:github], :target => "_blank"}= p[:github]
      / Shown on large screens
      .columns2.frame.bottom
        .img
          / Height is same as .img height
          %img{:src => p[:image], :height => 264}/
.employees
  .row
    .columns6
      %h1.size2
        Our team
  %hr.background-random/
  %ul.row
    - people.each do |p|
      %li
        %a{:href => "#spotlight", :class => "columns1 frame person"}
          .img
            / Height is same as .img height
            %img{:src => p[:image], :height => 110}/
          %h4= p[:name]
          %p.size0= p[:title]
%hr.background-random/
.pebble-it
  .columns6
    %p The pebble {code} philosophy and approach (as well as our offices) are shared by our sister company <a href="http://pebbleit.com/" target="_blank">pebble.it</a> who provide IT consultancy, infrastructure solutions and support for creative business in London.
    %p Need some support? Get in touch with Paul on <a href="tel:+442033271081">+44 (0) 20 3327 1081</a> or <a href="mailto:hello@pebbleit.com">hello@pebbleit.com</a>.
