-# coding: utf-8
- content_for :script_js do
  %script{ :type => "text/javascript" }
    require(["app/people"]);
- content_for :title do
  Our people - a small development team doing big things | pebble code
- content_for :description do
  Our expert software development team is multi-skilled, creative and ready for any challenge. .NET, C#, F#, Node.js, Ruby on Rails, JavaScript and more.
- content_for :keywords do
  people, team, skills, skilled, creative, .NET, C#, F#, Node.js, Ruby on Rails, JavaScript, project, development, expertise, personalities, ideas

.row.headline
  %h1.size3 Our people
%section.row.people-copy
  .columns3
    %p
      Put a small, multi-disciplinary team into a stimulating environment. Give them the best tools, encourage them to work together creatively and big things happen.
  .columns3
    %p
      That's how we do things. Everyone here has their own expertise, and that combination of skills, personalities and ideas lies at the heart of everything we create.

.employees
  .row
    .columns6
      %h1.size2#spotlight-scroll
        Our team
  %hr.background-random/
  %ul.row
    %li#spotlight
      - selected_person_index = Person.slug_index(@person_slug)
      -# Show selected person index or show a random one
      - person_index = selected_person_index ? selected_person_index : rand(@people.length)
      - @people.each_with_index do |p, index|
        %section{:id => p[:name].to_slug, :"data-tumblr" => p[:tumblr_name], :class => "person-row #{"active" if person_index == index}"}
          .frame
            .img
              / Height is same as .img height
              %img{:src => p[:image], :height => 264}/
          %article
            %h2.size2.name= p[:name]
            %h3.size1= p[:title]
            %p= RDiscount.new(p[:description]).to_html
            - if p[:website]
              %a{:href => p[:website], :target => "_blank", :class => "person-link"} W
            - if p[:twitter]
              %a{:href => p[:twitter], :target => "_blank", :class => "person-link"} T
            - if p[:github]
              %a{:href => p[:github], :target => "_blank", :class => "person-link"} G

    - @people.each do |p|
      %li
        %a{:href => "/people/#{p[:name].to_slug}", :class => "columns1 frame person"}
          .img
            / Height is same as .img height
            %img{:src => p[:image], :height => 110}/
          %h4= p[:name]
          %p.size0= p[:title]